* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace, sans-serif !important;
}

.app {
  background-image: url('assets/third.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-out;
}

.app.warm {
  background-image: url('assets/main.jpg')
}

.app.cold {
  background-image: url('assets/secondary.jpg')
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
  padding: 25px;
}

.search-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30vh;
  transform: translateY(-50%);
}

.search-box .search-bar {
  width: 60%;
  padding: 15px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  color: #313131;
  font-size: 32px;
  transition: 0.4s ease;
}

.search-box .search-bar:focus{
  background-color: rgba(255, 255, 255, 0.75);
}

.search-bar:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

.weather-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.weather-icon {
  color: #FFF;
  font-size: 120px;
  transition: 0.4s ease;
}

.link {
  color: #FFF;
  font-size: 20px;
  font-weight: 280;
  text-align: center;
  padding: 15px;
}

.link a {
  color: #fff;
  text-decoration: none;
}

.location {
  color: #FFF;
  font-size: 30px;
  font-weight: 500;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.date, .temperature, .weather {
  color: #FFF;
  font-size: 20px;
  font-weight: 280;
  text-align: center;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-out {
  animation: fadeOut 0.4s ease;
}

.fade-in {
  animation: fadeIn 0.4s ease;
}

.navbar {
  background-color: transparent;
  color: #fff;
  font-family: monospace sans-serif !important;
  font-size: 22px;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.navbar li {
  display: inline-block;
  margin-right: 20px;
}

.navbar li a {
  text-decoration: none;
  color: inherit;
}

.ProjectInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.ProjectInfo p {
  color: #FFF;
  font-size: 22px;
  text-align: center;
  font-family: monospace sans-serif !important;
}
